<aside class="main-sidebar sidebar-dark-dark elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('admin_home') }}" class="brand-link">
        <img src="{{ asset('images/icon.png') }}" alt="Car Booking" class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Car Booking</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path('admin_cars_show') }}" class="nav-link">
                        <i class="nav-icon fa fa-car"></i>
                        <p>
                            {{ 'admin.cars.show'|trans }}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_cars_nconfirmed') }}" class="nav-link">
                        <i class="nav-icon fa fa-car text-info"></i>
                        <p>
                            {{ 'admin.cars.not.confirmed'|trans }}
                            <span class="right badge badge-primary">{{ notConfirmedCarsCount()|ninePlus }}</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_cars_npublish') }}" class="nav-link">
                        <i class="nav-icon fa fa-car text-info"></i>
                        <p>
                            {{ 'admin.cars.not.publish'|trans }}
                            <span class="right badge badge-primary">{{ notPublishedCarsCount()|ninePlus }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>