<h3 style="color: #f47e60;">Rezervacija atlikta sėkmingai!</h3>
<br/>
Sveiki, <br/>
<br/>
Džiaugiamės, galėdami Jums pranešti, kad rezervacija buvo sėkminga!<br/>
<br/>
Susisiekite su <b> {{ car.user.name }} </b>, ir susiderinkite nuomavimosi sąlygas ;-)<br/>
Automobilio savininkui, taip pat buvo išsiųsti Jūsų kontaktai.<br/>
<br/>
Automobilio savininko duomenys:<br/>
Vardas: {{ car.user.name }}<br/>
Telefonas: {{ car.user.phone }}<br/>
El-paštas: {{ car.user.email }}<br/>
<br/>
Rezervavimosi laikotarpis:<br/>
Pradžia: {{ booking.bookedFrom|date('Y-m-d', false) }}<br/>
Pabaiga: {{ booking.bookedUntil|date('Y-m-d', false) }}<br/>
<br/>
Automobilis: <a href="{{ url('home_car_listing_by_id', { 'id': car.id }) }}">plačiau</a>
<br/>
<br/>
--<br/>
Pagarbiai, CarBooking<br/>
https://carbooking.projektai.nfqakademija.lt