<h3 style="color: #cd3334;">Jūsų automobilis buvo užrezervuotas!</h3>
<br/>
Sveiki, <br/>
<br/>
Džiaugiamės, galėdami Jums pranešti, kad Jūsų <b>{{ car.brand.brand }}</b> buvo sėkmingai užrezervuotas!<br/>
<br/>
Susisiekite su <b> {{ user.name }} </b>, ir susiderinkite nuomavimosi sąlygas ;-)<br/>
Automobilį rezervavusiam asmeniui, taip pat buvo išsiųsti Jūsų kontaktai.<br/>
<br/>
Rezervavusio asmens duomenys:<br/>
Vardas: {{ user.name }}<br/>
Telefonas: {{ user.phone }}<br/>
El-paštas: {{ user.email }}<br/>
<br/>
Rezervavusio asmens žinutė:<br/>
Žinutė: {{ booking.message }}
<br/>
Rezervavimosi laikotarpis:<br/>
Pradžia: {{ booking.bookedFrom|date('Y-m-d') }}<br/>
Pabaiga: {{ booking.bookedUntil|date('Y-m-d') }}<br/>
<br/>
Automobilis: <a href="{{ url('home_car_listing_by_id', { 'id': car.id }) }}">plačiau</a>
<br/>
<br/>
carbookinglt@gmail.com